<%- include('./partials/head') %>

<section class="menu">
  <h1> To my cards you are welcome! Choos your path you will</h1>
   <a class="link" href="new.ejs"> See my new work</a>
   <a  class="link primary" href="old.ejs"> See my old work </a>
</section>

<%- include('./partials/foot') %>
