.card{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: fit-content;
    background-color: var(--primary-low);
    border-radius: var(--radius-medium);
    padding: var(--large);
    gap: var(--extra-small);
    & h1{
      color: var(--secondary);
      margin-top: var(--extra-small);
      margin-bottom: var(--none);
      font-size: 56px;
    }
    & h2 {
      color: var(--accent);
      margin-top: var(--extra-small);
      margin-bottom: var(--none);
      font-size: 48px;
    }
    & p{
      color: var(--main);
    }

  & select{
    margin-top: var(--large);
    padding: 0.5em 2em;
    font-size: 1em;
    border: var(--none);
    border-radius: var(--button);
    background-color: var(--secondary);
    color: var(--main);
    &:hover{
      cursor: pointer;
    }
    & option {
      background-color: var(--main);
      color: var(--primary-low);
      border: var(--none);
    }
  }
  & #triple , #portfolio , #berain{
      display: none;
      margin-top: var(--medium);
  }
  }