body{
  background-image: linear-gradient(to right top, #04041a, #232048, #4e3477, #8645a3, #c750c9);
}

.card{
  margin-top: 150px !important;
  scroll-behavior: smooth;
  overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: fit-content;
    background: rgb(7,7,43);
    background: linear-gradient(138deg, rgba(7,7,43,1) 88%, rgba(255,255,255,1) 88%);
    padding: var(--large);
    gap: var(--extra-small);
    border-radius: var(--medium);
    box-shadow: 1px 1px 11px -3px rgb(7,7,13);
    transform: scale(100%);
    transition: ease-out 0.5s;
    &:hover{
      transform: scale(110%);
      transition: ease-in 0.3s;
    }
    & h1{
      color: var(--secondary);
      margin-top: var(--extra-small);
      margin-bottom: var(--none);
      font-size: 56px;
    }
    & h2 {
      color: var(--accent);
      margin-top: var(--extra-small);
      margin-bottom: var(--none);
      font-size: 48px;
    }
    & p{
      color: var(--main);
    }
    & a{
      margin-top: var(--medium);
    }
  
  & select{
    margin-top: var(--medium);
    padding: 0.5em 2em;
    font-size: 1em;
    border: var(--none);
    border-radius: var(--button);
    background-color: var(--secondary);
    color: var(--main);
    &:hover{
      cursor: pointer;
    }
    & option {
      background-color: var(--main);
      color: var(--primary-low);
      border: var(--none);
    }
  }
  & #triple , #portfolio , #berain {
      overflow: hidden;
      margin-left: -300px;
      transition: ease-in-out 0.35s;
      
  }

  & #portfolio{
    margin-top: var(--medium);
  }
  & #triple{
    margin-top: -36px;
  }
  & #berain{
    margin-top: -38px;
  }

  }