:root{
  /* Colors */
  --main: #fff;
  --primary: #07072b;
      --primary-low: #04041a;
  --secondary: #DB59DE;
      --secondary-low: #c750c9;
  --alternative: #41BBE0;
      --alternative-low: #3daed0;
  --accent: #E0A600;
      --accent-low: #d69d00;
  --grey-one: #ebeaea;
  --grey-two: #d6d4d4;
  --grey-three: #c8c8c8;

  /* Spacing */
  --none: 0px;
  --extra-small:  4px;
  --small: 8px;
  --medium: 16px;
  --large: 32px;
  --extra-large: 64px;
  --extra-extra-large: 128px;

  /* Borders */
  --button: 4px;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 12px;
  --radius-extra-large: 16px;
}

/* link styling */
.link{
  padding: 0.5em 2em;
  background-color: var(--main);
  color: var(--midnight);
  border-radius: var(--button);
  font-family: Arial, Helvetica, sans-serif ;
  font-weight: 500;
  font-size: 1em;
  transition: ease-out 0.1s;

  &:hover{
      cursor: pointer;
      background-color: var(--secondary);
      transition: ease-in 0.1s;
  }
  &:active{
      transition: ease-in 0.1s;
      transform: scale(90%) translateY(-2px)  translateX(2px);
  }
}
.primary{
  background-color: var(--secondary);
  color: white;
}
.secondary{
  background-color: var(--alternative);
  color: white;
}

a{
  text-decoration: none;
}

body{
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
.menu{
  top: 50%;
  margin: 0 auto;
  width: 400px;
  background-color: var(--primary-low);
  padding: var(--large);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--medium);
  & h1{
    color: var(--main);
  }
}